@model IEnumerable<Base.Models.EmployeeDetail>

@{
    ViewBag.Title = "All Employees";
}

<h2>Employees Details</h2>
<p>
<a href="~/EmployeeDetails/Create" class="btn btn-primary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-user-edit"></i>
    </span>
    <span class="text">Add</span>
</a>
</p>

<div class="table-responsive">
<table class="table table-bordered">
    <thead>
    <tr class="align-content-center">
        <th scope="col">
            Name
        </th>
        <th scope="col">
            Phone
        </th>
        <th scope="col">
            Email
        </th>
        <th scope="col">
            Birthday
        </th>
        
        <th scope="col">
            Avatar
        </th>
        <th scope="col">
            Status
        </th>
        <th scope="col">
            StartWorking
        </th>
        <th scope="col">
            Departmen
        </th>
        <th scope="col">
            Education
        </th>
        <th scope="col">
            Position
        </th>
    </tr>
     </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartWorkingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education.EducationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.PositionName)
        </td>
        <td>
            <a href="@Url.Action("Details", "EmployeeDetails", new { id = item.EmployeeID })" class="btn btn-info btn-circle btn-sm">
                <i class="fas fa-info"></i>
            </a>
            <a href="@Url.Action("Edit", "EmployeeDetails", new { id = item.EmployeeID })" class="btn btn-warning btn-circle btn-sm">
                <i class="fas fa-edit"></i>
            </a>
            <a href="@Url.Action("Delete", "EmployeeDetails", new { id = item.EmployeeID })" class="btn btn-danger btn-circle btn-sm">
                <i class="fas fa-trash"></i>
            </a>
           
        </td>
    </tr>
}
</tbody>
</table>
</div>
