@model IEnumerable<Base.Models.EmployeeDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
<table class="table table-bordered">
    <thead>
    <tr class="align-content-center">
        <th scope="col">
            Name
        </th>
        <th scope="col">
            Phone
        </th>
        <th scope="col">
            Email
        </th>
        <th scope="col">
            Birthday
        </th>
        
        <th scope="col">
            Avatar
        </th>
        <th scope="col">
            Status
        </th>
        <th scope="col">
            StartWorking
        </th>
        <th scope="col">
            Departmen
        </th>
        <th scope="col">
            Education
        </th>
        <th scope="col">
            Position
        </th>
    </tr>
     </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartWorkingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education.EducationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.PositionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID })
        </td>
    </tr>
}
</tbody>
</table>
</div>
